$colour-primiary: #9356DC;
$colour-secondary: #FF79DA;
$colour-terciary: #99E2D0;
$colour-white: #fff;
$colour-text: #353535;
$colour-background-1: #eaeaea;
$colour-background-2: #F6F6F6;
$colour-box-shadow: rgba(0, 0, 0, 0.3);

//breakpoint
$breakpoint: (medium: 768px, large: 1024px)